.age-outer-bg
{
	position:fixed;
	z-index:9999;
	background:rgba(0,0,0,0.6);
	left:0;
	top:0;
	bottom:0;
	right:0;
	display:none;
}
.age-pop-up
{
	position:fixed;
	top:50%;	
	background:rgba(0,0,0,0.9);
	padding:0px;
	color:#fff;
	z-index:10000;
	left:50%;
	min-height:100px;
	text-align:center;
	width:auto;
	font-size:15px;
	
	opacity:0;
	-khtml-opacity:0;
	filter: alpha(opacity=0);
	
	transform:translateX(-50%) translateY(-50%) scale(0);	
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0);

	visibility:hidden;
	-webkit-visibility: hidden;

	transition:1s all 0s;
	-webkit-transition:1s all 0s;
}
.verify
{

}
.age-pop-up.open
{
	transform:translateX(-50%) translateY(-50%) scale(1);	
	-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
	
	opacity:1;
	filter: alpha(opacity=100);
	
	visibility:visible;
	-webkit-visibility: visible;

	box-shadow:0px 0px 20px 0px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow:0px 0px 20px 0px rgba(255, 255, 255, 0.5);
}
.age-pop-up #close
{
	width:45px;
	height:45px;
	background:rgba(0,0,0,0.6);
	color:#fff;
	position:absolute;
	top:0;
	right:0;
	line-height:44px;
	text-decoration:none;
	font-size:20px;
}
.age-pop-up #close:hover
{
	background:rgba(0,0,0,1);	
}
.age-pop-up p.title
{
	margin:0px;
	padding:15px 0;
	font-size:40px;
	text-transform:uppercase;
	color:#fff;
}
.age-pop-up h2{
	color:#fff;
	text-transform:none;	
	margin-bottom:0;
	font-size:22px;
}
.age-pop-up i.fa{font-size:22px;color:#fff;margin-right:5px;}
.age-pop-up i.fa-ban{color:#f00;}
.age-pop-up .sitelogo{
	font-size:50px;
	margin-bottom:10px;	
	line-height:normal;
}
.sitelogo img{
	margin:0 auto;	
}
.age-pop-up .block-button
{
	padding-top:15px;	
}
.age-pop-up h3
{
	padding:0 20px;
	line-height:45px;
	background:#F87E15;
	color:#fff;
	height:45px;
	font-size:21px;
	margin-bottom:0;
}
.age-pop-up .age-pop-cont
{
	padding:15px;		
}
.age-pop-up .button
{
	background:#F87E15;	
	color:#fff;
	height:40px;
	line-height:40px;
}
.age-pop-up .button i{
	margin-right:5px;
	color:#fff;
	font-size:18px;
	vertical-align:middle;	
}
.age-pop-up .button:hover
{
	background:#e07112;
}
.age-pop-cont .buttons-set
{
	border:none;
	margin:0;
	padding:0px 0 0 0;	
}
.age-pop-cont .buttons-set .button
{
	text-transform:uppercase;
	margin:0 5px;
    font-size:18px;
	background:#006298;
	border-color:#006298;
}
.age-pop-cont .buttons-set .button.valid-age
{
	color:#fff;	
}
.age-pop-cont .buttons-set .button.not-valid-age
{
	background:#000;
	color:#1998dd;
}
.age-pop-cont .buttons-set .button:hover
{
	background:#0095d6;
	border-color:#0095d6;
	color:#fff;
}
.age-pop-cont p.small
{
	display:block;
	text-align:center;
	font-size:16px;	
	color:#ccc;
	margin:20px 0 0px 0;
	line-height:22px;
}
.not-verify
{
	min-width:300px;
	padding:25px;
}
.not-verify h2{margin-bottom:15px;}
.notverify-txt
{
	
	font-size:20px;
	margin:0 auto;
	color:#fff;
	max-width:200px;
	padding:25px 0 0 0;
}

/* All mobile - design for a width of less than 768px*/
@media only screen and (max-width: 767px) 
{	
.verify{min-width:350px;}
.notverify{min-width:270px;}
.age-pop-up{width:auto !important;}
.age-pop-up p.title{font-size:24px;}
.age-pop-cont .buttons-set{padding:5px 0 0 0;}
.age-pop-cont .buttons-set .button{padding:8px 12px;font-size:14px;}
.notverify-txt{font-size:16px;max-width:150px;}
.notverify p{padding:8px 0 0 25px;}
.notverify p::before{font-size:36px;}
}
@media only screen and (min-width: 320px) and (max-width: 479px) 
{
.age-pop-up img{max-width:150px;}
.verify{min-width:250px;}
.notverify{min-width:250px;}
.age-pop-cont .buttons-set{padding:0;}
.age-pop-cont .buttons-set .button{box-sizing:border-box;margin:0;width:49%;font-size:13px;}
.age-pop-up p.title{font-size:20px;}
.age-pop-cont .buttons-set .button{padding:5px;}
.age-pop-cont p.small{font-size:13px;line-height:18px;}
.age-pop-cont p.small br{display:none;}
}
