<?xml version="1.0"?>
<config>
  <modules>
    <Vsourz_Agegate>
      <version>0.1.0</version>
    </Vsourz_Agegate>
  </modules>
  <frontend>
    <layout>
      <updates>
        <agegate>
          <file>vsourz/agegate.xml</file>
        </agegate>
      </updates>
    </layout>
  </frontend>
  <global>
    <helpers>
      <agegate>
        <class>Vsourz_Agegate_Helper</class>
      </agegate>
    </helpers>
    <blocks>
      <agegate>
        <class>Vsourz_Agegate_Block</class>
      </agegate>
    </blocks>
    <models>
      <agegate>
        <class>Vsourz_Agegate_Model</class>
      </agegate>
    </models>
    <resources>
      <agegate_setup>
        <setup>
          <module>Vsourz_Agegate</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </agegate_setup>
    </resources>
  </global>
  <default>
    <agegate>
      <settings>
        <enable_extension>1</enable_extension>
        <promotionblock>vsourz-age-gate</promotionblock>
        <notverifyblock>vsourz-age-gate-disagree</notverifyblock>
        <agree>18+ Enter</agree>
        <disagree>Under 18</disagree>
        <cookie>1</cookie>
        <width>500</width>
        <height>auto</height>
      </settings>
    </agegate>
  </default>
</config>
